// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 480.98px;
// Colors
$color-primary: #2673B9;
$color-secondary: #003D74;
$color-third: #F5F5F5;
$color-fourth: #F8F8F8;
$color-five: #C2C2C2;
$color-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #155691;
$color-accent: #E44545;
$color-font:#2F2F2F;
$color-font-title: #00315E;
$color-font-logo: #686868;
$color-font-placeholder: #8F8F8F;
//Delay
$primary-delay: .25s;