include ../includes/common/mixins
doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/style.min.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap")
      block title
  body
    include ../includes/common/header
    block breadcrumbs
    block content
    include ../includes/common/footer