header#header
    .container.header-container
        .logo-container
            a(href="/").logo-link
                +icon('logo', 'logo')
            .logo-title 
                p.logo-title-txt МосГорЭкспертиза
                p.logo-title-desc Проводим экспертизу по всей России с 1997 года
        nav.nav-top
            ul.nav-top-items 
                li.nav-top-item 
                    a(href="#").nav-top-link О нас
                li.nav-top-item 
                    a(href="#").nav-top-link Лаборатория
                li.nav-top-item 
                    a(href="#").nav-top-link Практика
                li.nav-top-item 
                    a(href="#").nav-top-link Контакты
        button.btn.btn-stroke.top-btn Получить презентацию
        .contacts-container
            a(href="tel:+74991131969").contact-phone +7 (499) 113-19-69
            button.contact-btn Бесплатная консультация
    nav.nav-header
        ul.nav-header-items.container
            li.nav-header-item
                a.nav-header-link.nav-header-link__services(href="#")
                    +icon('burger', 'burger')
                    |Услуги
            li.nav-header-item
                a.nav-header-link(href="epb.html") Экспертиза промышленной безопасности
            li.nav-header-item
                a.nav-header-link(href="#") Техническое диагностирование
            li.nav-header-item
                a.nav-header-link(href="#") Разработка проектов ОПО
            li.nav-header-item
                a.nav-header-link(href="#") Разработка документации
            li.nav-header-item
                a.nav-header-link(href="#") Лицензирование и&nbsp;регистрация&nbsp;ОПО
            li.nav-header-item
                a.nav-header-link(href="#") Судебная экспертиза
            li.nav-header-item
                a.nav-header-link(href="#") Негосударственная экспертиза
            li.nav-header-item
                a.nav-header-link(href="#") Обучение